.LeaderBar{
    background-color: #292e35;
    color: #6290eb;
    font-size: xx-large;
    border-color: yellow;
    /* position: absolute; */
    /* width: 17%; */
    text-align: center;
    height: 100vh;
}